
<div class="main-container">
  <div class="content-container">


      <div class="event-container">
        <h2 class="event-title">{{model.prize.name}}</h2>


        <div class="prize-container">

          <img class="prize-pic" data-lf="prize-image:{{model.id}}" src="{{model.prize.imgUrl}}" alt="">

          <h1 class="prize-name">{{model.name}}</h1>

          <p>{{model.description}}</p>

          <p>{{model.prize.description}}</p>
        </div>

        {{#if model.available}}
          <p class="available">No adventurers currently on this quest.</p>
        {{/if}}
        <p>
          Price: ${{model.cost}}
        </p>
        <div class="buy-container">

          {{#if model.available}}
            <button {{action buyThis model.id}} class="btn btn-save">Purchase</button>
          {{else}}
            {{#if (is-matching user.id model.seekingUser.id)}}
              <p class="available">{{#link-to "index.events.details.clues"}}See Clues{{/link-to}}</p>
            {{else}}
              <p class="not-available">This Adventure has been purchased!  Adventurers are now seeking this treasure.</p>
              <p class="not-available">This event is unavailable for purchase.</p>
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{!-- vv--Clues--vv --}}
      {{liquid-outlet}}

    </div>
</div>
