
<div class="main-container">
  <div class="table-container">
    <div class="page-title-container">
      <h1 class="page-title">Purchases</h1>
    </div>
    <table class="table">
      <thead class="table-head">
        <tr class="table-row">
          <th class="table-header">Event</th>
          <th class="table-header">Purchase Date</th>
          <th class="table-header">In Progress</th>
          <th class="table-header">User Email</th>
          <th class="table-header"></th>

        </tr>
      </thead>

      <tbody class="table-body">

        {{#each model as |purchase|}}
          <tr class="table-row">
            <td class="table-item">{{purchase.event.name}}</td>
            <td class="table-item">{{purchase.date}}</td>
            <td class="table-item">
              {{#if purchase.inProgress}}
                <p class="available">Yes</p>
              {{else}}
                <p class="not-available">No</p>
              {{/if}}
            </td>
            <td class="table-item">{{purchase.endUser.email}}</td>
            <td class="table-item">
              {{!-- Button to toggle event availability --}}
              <button {{action toggleAvail purchase}}>Toggle Completed</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
