<h1 class="title-container">Edit Event</h1>

<button {{action toggle model}} class="btn btn-save">Toggle Active</button>


{{#simple-form class="registration" startingValues=model onsubmit=(action saveEvent model) as |formValues|}}
  {{paper-input label="Name" value=formValues.name}}
  {{paper-input label="Type" value=formValues.type}}
  {{paper-input label="Description" value=formValues.description}}
  {{paper-input label="Cost" value=formValues.cost}}
  {{paper-input label="Time" value=formValues.etc}}
  {{paper-input label="Search Area" value=formValues.searchArea}}

  {{#link-to "adminevents" class="btn"}}Cancel{{/link-to}}

  <button class="btn btn-save">Save</button>
{{/simple-form}}
