
<div class="main-container">
  <div class="content-container">

      <div class="event-container">
        <h2>{{model.name}}</h2>

        <p>{{model.description}}</p>

        <div class="prize-container">

          <h3>{{model.prize.name}}</h3>

          <img class="prize-pic" src="{{model.prize.imgUrl}}" alt="">

          <p>{{model.prize.description}}</p>
        </div>

        {{#if model.available}}
          <p>No adventurers currently on this quest.</p>
        {{else}}
          <p>Adventurers are already seeking this treasure.</p>
        {{/if}}
        <p>
          Price: ${{model.cost}}
        </p>
      </div>



      <div class="buy-container">

        {{#if model.available}}
          <button {{action buyThis model.id}} class="btn btn-save">Purchase</button>
        {{else}}
          <p>This event is unavailable for purchase.</p>
        {{/if}}
      </div>

      {{#link-to "adminevents.prizes.edit" model.prize.id}}
      {{fa-icon "pencil"}}
      {{/link-to}}
    </div>
</div>

{{outlet}}


  {{!-- USER SHOUDL NOT SEE THIS --}}

  <div class="form-container">
    {{#simple-form onsubmit=(action savePrize model) as |formStuff|}}

      <p class="form-input">
        <label class="form-label">Prize Name</label>
        {{input class="input-field" type="text" placeholder="Name" value=formStuff.name}}
      </p>

      {{!-- <p class="form-input">
        <label class="form-label">Prize Image</label>
        {{!-- {{input class="input-field" type="text" placeholder="Img" value=formStuff.imgUrl}} --}}
        {{!-- {{profile-upload
          class="upload"
          fileUrl=formValues.imgUrl
          placeholderUrl="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRFOUW21bzJrbK94GhQ0pLSKQTKs87Q9-Ba1K4QLMy2KXfqPam6"
          onchange=(action (mut formValues.imgUrl))}}
      </p> --}}

      <p class="form-input">
        <label class="form-label">Prize Description</label>
        {{textarea class="input-field" placeholder="Desc." value=formStuff.description}}
      </p>
      <button class="btn btn-save">Save</button>

    {{/simple-form}}
  </div>
