
<h1>Events</h1>

<ul>
  {{#each model as |event|}}

    <li>
      <p>{{event.name}}</p>
      <p>{{event.type}}</p>
      <p>{{event.etc}}</p>
      <p>{{event.prize.name}}</p>
      <p>{{event.searchArea}}</p>
      {{#link-to "events.details" event.id}}
      <button class="btn btn-details">Details</button>
      {{/link-to}}
    </li>

  {{/each}}
  {{outlet}}
</ul>
