<div class="title-container">
  <h2 class="new-title">New Event</h2>
</div>

<div class="form-container">
  {{#simple-form class="new-event__form" onsubmit=(action saveEvent) as |event|}}

    <p class="form-input">
      <label class="form-label">Event Name</label>
      {{input class="input-field" type="text" placeholder="Name" value=event.name}}
    </p>

    <p class="form-input">
      <label class="form-label">Event Type</label>
      {{input class="input-field" type="text" placeholder="Type" value=event.type}}
    </p>

    <p class="form-input">
      <label class="form-label">Event Description</label>
      {{textarea class="input-field" placeholder="Desc." value=event.description}}
    </p>

    <p class="form-input">
      <label class="form-label">Event Cost</label>
      {{input class="input-field" type="text" placeholder="Cost" value=event.Cost}}
    </p>

    <p class="form-input">
      <label class="form-label">Estimated Time to Complete</label>
      {{input class="input-field" type="text" placeholder="ETC" value=event.etc}}
    </p>

    <p class="form-input">
      <label class="form-label">Search Area</label>
      {{input class="input-field" type="text" placeholder="Search Area." value=event.searchArea}}
    </p>

                    {{!--Start of Prize Form  --}}

    <div class="title-container">
      <h3 class="prize-form__title">Prize</h3>
    </div>

    <div class="event-prize__container">

      <p class="form-input">
        <label class="form-label">Prize Name</label>
        {{input class="input-field" type="text" placeholder="Name" value=event.prize.name}}
      </p>

      <p class="form-input">
        <label class="form-label">Prize Image</label>
        {{input class="input-field" type="text" placeholder="Img" value=event.prize.imgUrl}}
      </p>

      <p class="form-input">
        <label class="form-label">Prize Description</label>
        {{textarea class="input-field" placeholder="Desc." value=event.prize.description}}
      </p>

    </div>

    <div class="btn-container">
      <button class="btn save-btn">Save</button>
    </div>
  {{/simple-form}}
</div>
