

<div class="main-container">
  <div class="table-container">
    <div class="page-title-container">
      <h1 class="page-title">All Prizes</h1>
    </div>
    <table class="table">
      <thead class="table-head">
        <tr class="table-row">
          <th class="table-header">Event Name</th>
          <th class="table-header">Prize Id</th>
          <th class="table-header">Prize Name</th>
          <th class="table-header">Img</th>
          <th class="table-header">Description</th>
          <th class="table-header"></th>
          <th class="table-header"></th>
        </tr>
      </thead>

      <tbody class="table-body">

        {{#each model as |prize|}}
          <tr class="table-row">
            <td class="table-item">{{prize.event.name}}</td>
            <td class="table-item">{{prize.id}}</td>
            <td class="table-item">{{prize.name}}</td>
            <td class="table-item"><img src="{{prize.imgUrl}}" alt=""></td>
            <td class="table-item">{{prize.description}}</td>
            <td class="table-item">
              {{#link-to "adminevents.prizes.edit" prize.id}}
              {{fa-icon "pencil"}}
              {{/link-to}}
            </td>
            <td>
              <button class="btn" {{action delete prize}}>
                {{!-- <span class="fa fa-trash"></span> --}}
                {{fa-icon "trash" spin=true}}
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
</div>
{{outlet}}
