<h1 class="title-container">All Prizes</h1>


<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Prize Id</th>
      <th>Prize Name</th>
      <th>Img</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |prize|}}
      <tr>
        <td>{{prize.event.name}}</td>
        <td>{{prize.id}}</td>
        <td>{{prize.name}}</td>
        <td><img src="{{prize.imgUrl}}" alt=""></td>
        <td>{{prize.description}}</td>
        <td>
          {{#link-to "index.events.prizes.edit" prize.id}}
          {{fa-icon "pencil"}}
          {{/link-to}}
        </td>
        <td>
          <button class="btn" {{action delete prize}}>
            {{!-- <span class="fa fa-trash"></span> --}}
            {{fa-icon "trash" spin=true}}
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
