
<div class="main-container">
  <div class="content-container">


      <div class="event-container liquid-container">
        <h2>{{model.name}}</h2>

        <p>{{model.description}}</p>

        <div class="prize-container">

          <h3>{{model.prize.name}}</h3>

          <img class="prize-pic" data-lf="prize-image:{{model.id}}" src="{{model.prize.imgUrl}}" alt="">

          <p>{{model.prize.description}}</p>
        </div>

        {{#if model.available}}
          <p class="available">No adventurers currently on this quest.</p>
        {{else}}
          <p class="not-available">Adventurers are already seeking this treasure.</p>
        {{/if}}
        <p>
          Price: ${{model.cost}}
        </p>
        <div class="buy-container">

          {{#if model.available}}
          <button {{action buyThis model.id}} class="btn btn-save">Purchase</button>
          {{else}}
          <p class="not-available">This event is unavailable for purchase.</p>
          {{/if}}
        </div>
      </div>

      {{!-- vv--Clues--vv --}}
      {{liquid-outlet}}

    </div>
</div>
