{{#link-to "events"}}
  <button class="btn btn-events">Events</button>
{{/link-to}}

<div class="main-container">
  <h1 class="page-title">DETAILS</h1>
  <h2>
    {{model.name}}
  </h2>
  <p>{{model.description}}</p>
  {{#if model.active}}
    {{fa-icon "times-circle"}}
    <p>Adventurers are already seeking this treasure.</p>
  {{else}}
    {{fa-icon "check-circle"}}
    <p>This treasure has not been found.</p>
  {{/if}}
  <p>{{model.cost}}</p>


  <h1>Treasure</h1>
  <h3>{{model.prize.name}}</h3>
  <h3>
    <img src="{{model.prize.imgUrl}}" alt=""></h3>
  <p>{{model.prize.description}}</p>

  <h3>Interested</h3>

{{#if model.active}}

<p>This event is unavailable for purchase.</p>

{{else}}

  <button {{action buyThis model.id}} class="btn btn-buy">Buy</button>

{{/if}}


</div>



  {{!-- USER SHOUDL NOT SEE THIS --}}

  {{#simple-form onsubmit=(action savePrize model) as |formStuff|}}

    <p class="form-input">
      <label class="form-label">Prize Name</label>
      {{input class="input-field" type="text" placeholder="Name" value=formStuff.name}}
    </p>

    <p class="form-input">
      <label class="form-label">Prize Image</label>
      {{input class="input-field" type="text" placeholder="Img" value=formStuff.imgUrl}}
    </p>

    <p class="form-input">
      <label class="form-label">Prize Description</label>
      {{textarea class="input-field" placeholder="Desc." value=formStuff.description}}
    </p>
    <button class="btn btn-save">Save</button>

  {{/simple-form}}
{{outlet}}
