<div class="title-container">
  <h2 class="page-title">Register</h2>
</div>

<div class="content-container">
  <div class="form-container">
    <form class="registration" {{action newUser model on="submit"}}>

      <p class="form-input">
        {{paper-input class="input-field" type="email" label="Email" value=model.email customValidation=emailValidation}}
      </p>

      <p class="form-input">
        {{paper-input class="input-field" type="text" maxlength="16" label="Username" value=model.username}}
      </p>

      <p class="form-input">
        {{paper-input class="input-field" type="password" maxlength="16" label="Password" value=model.password}}
      </p>

      <p class="form-input">
        {{paper-input class="input-field" type="text" maxlength="13" label="Phone Number" value=model.phoneNumber}}
      </p>

      <div class="button-container">
        <button class="btn btn-save">Submit</button>
      </div>
    </form>
  </div>
</div>
